
    <div class="example-container">
      <h2 style="font-weight: 100; text-align: center;">Password Reset</h2>
     
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput  name= "username" [(ngModel)]="user.username" placeholder="Enter Your Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput  name= "password" [(ngModel)]="user.password" placeholder="Enter your new Password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput  placeholder="re enter your Password">
      </mat-form-field>
    
      <button mat-button mat-raised-button color="primary" class="buy-now-button space" (click)="changePassword()">CHANGE NOW
      </button>
    
     
      <label style="text-align: center; margin-top: 5px; color:gray">Or</label>
      <button mat-button mat-stroked-button color="primary" class="button" (click)="signUp()">SIGNUP NOW
      </button>
    </div>