<div class="row">
    <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
        <div class="container text-center mt">
            <h4>Update Product</h4>
            <form #productform="ngForm">
                <div class="row">
                    <label for="productName" class="control-label">product name</label>
                    <input required #productName="ngModel" type="text"  [(ngModel)]="product.productName"
                        name="productName" />
                    <div *ngIf="productName.invalid && productName.touched" class="alert alert-danger">product name required
                    </div>
                </div>
                <div class="row">
                    <label for="description" class="control-label">Description</label>
                    <input required #description="ngModel" type="text" [(ngModel)]="product.description"
                        name="description" />
                    <div *ngIf="description.invalid && description.touched" class="alert alert-danger">Description is
                        required</div>
                </div>
                <div class="row">
                    <label for="price" class="control-label">Price</label>
                    <input required #price="ngModel" type="text" [(ngModel)]="product.price"
                    price="flightto" value="product.price"/>
                    <div *ngIf="price.invalid && price.touched" class="alert alert-danger">Price is
                        required</div>
                </div>
                <div class="row">
                    <label for="features" class="control-label">features</label>
                    <input required #features="ngModel" type="text"  [(ngModel)]="product.features"
                        name="features" />
                    <div *ngIf="features.invalid && features.touched" class="alert alert-danger">Features is
                        required</div>
                </div>
                <div class="row">
                    <label for="active" class="control-label">active</label>
                    <input required #active="ngModel" type="text"  [(ngModel)]="product.active"
                        name="active" />
                    <div *ngIf="active.invalid && active.touched" class="alert alert-danger">Active status required
                    </div>
                </div>

                <div class="row">
                    <label for="stock" class="control-label">stock</label>
                    <input required #stock="ngModel" type="text"  [(ngModel)]="product.unitStock"
                        name="stock" />
                    <div *ngIf="stock.invalid && stock.touched" class="alert alert-danger">No of stock required
                    </div>
                </div>

                <div class="row">
                    <label for="ImageUrl" class="control-label">ImageUrl</label>
                    <input required #ImageUrl="ngModel" type="text"  [(ngModel)]="product.imageUrl"
                        name="ImageUrl" />
                    <div *ngIf="ImageUrl.invalid && ImageUrl.touched" class="alert alert-danger">ImageUrl required</div>
                </div>

                <br /><br />
                <button type="submit" [disabled]="!productform.form.valid" (click)="addProduct()"
                    class="btn btn-dark">Submit</button>
                <!-- <button type="back" class="btn btn-dark"><a routerLink="/adminhome" href="#">Back</a></button> -->
            </form>
        </div>
    </div>