<div class="wrapper">
    <div class="row">
        <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
            <h3 style="margin-top: 20px; font-size: x-large;">Update Product</h3>
            <div class="row">
                Product Name : <input required #productName="ngModel" class="form-control" type="text" name="productName" [(ngModel)]="product.productName">
                <small *ngIf="productName.invalid && productName.touched" style="color: red;">Add product name</small>
            </div>
            <div class="row">
                description : <input required #description="ngModel" class="form-control" type="text" name="description" [(ngModel)]="product.description">
                <small *ngIf="description.invalid && description.touched" style="color: red;">Add description</small>
            </div>
            <div class="row">
                price : <input required #price="ngModel" class="form-control" type="text" name="price" [(ngModel)]="product.price">
                <small *ngIf="price.invalid && price.touched" style="color: red;">Add Price</small>
            </div>



            <div class="row">
                Features : &nbsp; <Button name="button"  class="btn btn-dark" (click)="addFeature()">Add Feature</Button>
                
            </div>

            <div>
                <div *ngIf="addFeatureflag">
                    <div class="row">
                        <input name="feature" #feature="ngModel" [(ngModel)]="product.features" type="text"   placeholder="feature" ><br>          
                    </div>
                    <button value="OK" (click)="OK(feature.value)">Add</button>
                </div>
            </div>
            <br>
            <div>
                <table *ngIf="showFeature" align="center">
                    <tr *ngFor="let u of featuresList; index as i">
                        <th >{{u}}</th>
                    </tr>
                </table>
            </div>

            <div class="row">
                active : <input required #active="ngModel" class="form-control" type="text" name="active" [(ngModel)]="product.active">
                <small *ngIf="active.invalid && active.touched" style="color: red;">Add Active status</small>
            </div>
            <div class="row">
                unitStock : <input required #unitStock="ngModel" class="form-control" type="text" name="unitStock" [(ngModel)]="product.unitStock">
                <small *ngIf="unitStock.invalid && unitStock.touched" style="color: red;">Add available stocks</small>
            </div>
            <div class="row">
                imageUrl : <input required #imageUrl="ngModel" class="form-control" type="text" name="imageUrl" [(ngModel)]="product.imageUrl">
                <small *ngIf="imageUrl.invalid && imageUrl.touched" style="color: red;">Add image url</small>
            </div>
            <div class="row">
                <button [disabled]="buttonFlag" class="regBtn btn btn-success" (click)="updateProduct()">
                    Update product
                  </button>
            </div>
        </div>
    </div>
  </div>

